<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Add User</title>
    <meta charset="UTF-8">
</head>
<body>
    <h2>Add New User</h2>
    <p th:if="${error}" th:text="${error}" style="color:red;"></p> 
    <!-- showing the error msg inhere using ${} -->

    <form th:action="@{/add}" th:object="${user}" method="post">
        <div>
            <label for="username">Username:</label>
            <input type="text" th:field="*{username}" id="username" required />
        </div>
        <div>
            <label for="password">Password:</label>
            <input type="password" th:field="*{password}" id="password" required />
        </div>
        <div>
            <button type="submit">Add User</button>
        </div>
        <!-- user is the object, through that username and password is calling - th:field="*{username}" -->
    </form>
</body>
</html>