<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
</head>
<body>
    <h2>Login</h2> 
    <form method="post" th:action="@{/api/login}">
        <label>Username:</label>
        <input type="text" name="username" required><br><br>

        <label>Password:</label>
        <input type="password" name="password" required><br><br>

        <button type="submit">Login</button>
    </form>

    <!-- 
    I used simple html for login using POST method,
     there are no js or css files used in this project,
    -->

</body>
</html>
