<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
</head>
<body>
    <h2>Login</h2> 
    <form action="/api/login" method="post">
    <input type="text" name="username" placeholder="Username"/><br>
    <input type="password" name="password" placeholder="Password"/><br>
    <button type="submit">Login</button>
</form>

    <!-- 
    I used simple html for login using POST method,
     there are no js or css files used in this project,
    -->

</body>
</html>
